# === Ignore general dev directories ===
.dockerignore
.git
.gitignore
.vscode
node_modules
npm-debug.log
obj
charts
*.user
*.dbmdl
*.jfm

# Exclude the Dockerfile itself (no need to copy it into the image)
**/Dockerfile*

# === Don't exclude these files ===
!composer.json
!composer.lock
!artisan
!vendor/**

# Optional: You can also exclude specific files like README, LICENSE if you don't want them in the image
# LICENSE
# README.md
